<!DOCTYPE html>
<html>
<head>
    <title>Користувачі</title>
</head>
<body>
    <h1>Список користувачів</h1>
    <table border="1" cellpadding="5">
        <tr>
            <th>ID</th>
            <th>Ім'я</th>
            <th>Email</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
        </tr>
        {% endfor %}
    </table>
    <br>
    + <a href="/">Добавити нового користувача</a>
</body>
</html>
